:root {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

.unscored {
  background-color: white;
  color: black;
  border: 2px solid #d3d6da;}

.absent {
  background-color: #787c7e;
  color: white;
  border: none;
}

.correct {
  background-color: #6aaa64;
  color: white;
  border: none;
}

.present {
  background-color: #c9b458;
  color: white;
  border: none;
}

.tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 2px;
  padding: 4px;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
}

.tile::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.board {
  display: grid;
  width: 350px;
  height: 460px;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.game {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.keyboard {
  height: 200px;
  margin: 0 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.key {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.key:focus {
  outline: none;
}

.key:last-of-type {
  margin: 0;
}

.keyUnscored {
  background-color: #d3d6da;
  color: black;
}

.keyCorrect {
  background-color: #6aaa64;
  color: white;
}

.keyPresent {
  background-color: #c9b458;
  color: white;
}

.keyAbsent {
  background-color: #787c7e;
  color: white;
}

.keyboard-half {
  flex: 0.5;
}

.key-oneAndAHalf {
  flex: 1.5;
  font-size: 12px;
}
