@-webkit-keyframes
slideDown{0%{transform:translateY(0%)}90%{transform:translateY(0%)}100%{transform:translateY(100%)}}@keyframes
slideDown{0%{transform:translateY(0%)}90%{transform:translateY(0%)}100%{transform:translateY(100%)}}@-webkit-keyframes
flyIn{0%{opacity:0}100%{opacity:1}}@keyframes flyIn{0%{opacity:0}100%{opacity:1}}@-webkit-keyframes
flyOut{0%{opacity:1}100%{opacity:0}}@keyframes flyOut{0%{opacity:1}100%{opacity:0}}@-webkit-keyframes
fadeIn{0%{opacity:0}15%{opacity:0}100%{opacity:1}}
@keyframes
fadeIn{0%{opacity:0}15%{opacity:0}100%{opacity:1}}.flexContainer{display:flex;flex-direction:column;align-items:center;justify-content:center;flex-wrap:nowrap;width:100%}.expandToRow{composes:flexContainer}@media
(min-width:
444px){.expandToRow{display:flex;flex-direction:row;align-items:center;justify-content:space-around;flex-wrap:nowrap}}@media
(max-width:
991.98px){.mobileColumn{display:flex;flex-direction:column;align-items:center;justify-content:center;flex-wrap:nowrap}}.visually-hidden{clip:rect(0
0 0
0);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;overflow:hidden;position:absolute;white-space:nowrap;width:1px}@font-face{font-family:"nyt-cheltenham";src:url("./fonts/cheltenham/cheltenham-normal-300.woff2")
format("woff2"),url("./fonts/cheltenham/cheltenham-normal-300.woff")
format("woff");font-weight:300;font-style:normal}@font-face{font-family:"nyt-cheltenham";src:url("./fonts/cheltenham/cheltenham-normal-500.woff2")
format("woff2"),url("./fonts/cheltenham/cheltenham-normal-500.woff")
format("woff");font-weight:500;font-style:normal}@font-face{font-family:"nyt-franklin";src:url("./fonts/franklin/franklin-normal-300.woff2")
format("woff2"),url("./fonts/franklin/franklin-normal-300.woff")
format("woff");font-weight:300;font-style:normal}@font-face{font-family:"nyt-franklin";src:url("./fonts/franklin/franklin-normal-400.woff2")
format("woff2"),url("./fonts/franklin/franklin-normal-400.woff")
format("woff");font-weight:400;font-style:normal}@font-face{font-family:"nyt-franklin";src:url("./fonts/franklin/franklin-normal-500.woff2")
format("woff2"),url("./fonts/franklin/franklin-normal-500.woff")
format("woff");font-weight:500;font-style:normal}@font-face{font-family:"nyt-franklin";src:url("./fonts/franklin/franklin-normal-600.woff2")
format("woff2"),url("./fonts/franklin/franklin-normal-600.woff")
format("woff");font-weight:600;font-style:normal}@font-face{font-family:"nyt-franklin";src:url("./fonts/franklin/franklin-normal-700.woff2")
format("woff2"),url("./fonts/franklin/franklin-normal-700.woff")
format("woff");font-weight:700;font-style:normal}@font-face{font-family:"nyt-franklin";src:url("./fonts/franklin/franklin-normal-800.woff2")
format("woff2"),url("./fonts/franklin/franklin-normal-800.woff")
format("woff");font-weight:800;font-style:normal}@font-face{font-family:"nyt-franklin";src:url("./fonts/franklin/franklin-italic-500.woff2")
format("woff2"),url("./fonts/franklin/franklin-italic-500.woff")
format("woff");font-weight:500;font-style:italic}@font-face{font-family:"nyt-franklin-cw";src:url("./fonts/franklin-cw/franklin-cw-normal-400.woff2")
format("woff2"),url("./fonts/franklin-cw/franklin-cw-normal-400.woff")
format("woff");font-weight:400;font-style:normal}@font-face{font-family:"nyt-franklin-cw";src:url("./fonts/franklin-cw/franklin-cw-normal-500.woff2")
format("woff2"),url("./fonts/franklin-cw/franklin-cw-normal-500.woff")
format("woff");font-weight:500;font-style:normal}@font-face{font-family:"nyt-karnak";src:url("./fonts/karnak/karnak-normal-400.woff2")
format("woff2"),url("./fonts/karnak/karnak-normal-400.woff")
format("woff");font-weight:400;font-style:normal}@font-face{font-family:"nyt-karnak";src:url("./fonts/karnak/karnak-normal-500.woff2")
format("woff2"),url("./fonts/karnak/karnak-normal-500.woff")
format("woff");font-weight:500;font-style:normal}@font-face{font-family:"nyt-karnak";src:url("./fonts/karnak/karnak-normal-600.woff2")
format("woff2"),url("./fonts/karnak/karnak-normal-600.woff")
format("woff");font-weight:600;font-style:normal}@font-face{font-family:"nyt-karnak";src:url("./fonts/karnak/karnak-normal-700.woff2")
format("woff2"),url("./fonts/karnak/karnak-normal-700.woff")
format("woff");font-weight:700;font-style:normal}@font-face{font-family:"nyt-karnakcondensed";src:url("./fonts/karnakcondensed/karnakcondensed-normal-700.woff2")
format("woff2"),url("./fonts/karnakcondensed/karnakcondensed-normal-700.woff")
format("woff");font-weight:700;font-style:normal}@font-face{font-family:"nyt-stymie";src:url("./fonts/stymie/stymie-normal-500.woff2")
format("woff2"),url("./fonts/stymie/stymie-normal-500.woff")
format("woff");font-weight:500;font-style:normal}@font-face{font-family:"nyt-stymie";src:url("./fonts/stymie/stymie-normal-700.woff2")
format("woff2"),url("./fonts/stymie/stymie-normal-700.woff")
format("woff");font-weight:700;font-style:normal}@font-face{font-family:"nyt-stymie";src:url("./fonts/stymie/stymie-normal-800.woff2")
format("woff2"),url("./fonts/stymie/stymie-normal-800.woff")
format("woff");font-weight:800;font-style:normal}
.pz-footer.dimmed,.pz-header.dimmed,.pz-content.dimmed,.wordle-app-header.dimmed,#wordle-app-game.dimmed{opacity:0.6}
.ccpa-snackbar{font-family:nyt-franklin,Arial;font-size:16px;line-height:22px;position:fixed;z-index:11000;bottom:194px;right:0;left:0;max-width:740px;max-height:85vh;margin:0
auto;display:flex;align-items:center;background:#fff;padding:15px 30px;opacity:0;box-shadow:-4px 3px 10px
rgba(0,0,0,0.05),2px 2px 6px rgba(0,0,0,0.1);transition:all 570ms
ease;transform:translateY(200px);flex-direction:column;border-radius:4px}
.ccpa-snackbar.enter{opacity:1;transform:translateY(0px)}
.ccpa-snackbar.dismissed{opacity:0;transform:translateY(200px);pointer-events:none}
.ccpa-snackbar.error{flex-direction:initial;bottom:20px;max-width:-webkit-max-content;max-width:-moz-max-content;max-width:max-content;background-color:#333;color:white;border-radius:2px}
.ccpa-snackbar__msg-container{overflow:auto}
.ccpa-snackbar__msg,.ccpa-snackbar__terms,.ccpa-snackbar__header{padding:5px
20px;display:block}
.ccpa-snackbar__msg{flex-grow:1;color:#111;padding-bottom:25px}
.ccpa-snackbar__header{color:#000;flex-grow:1;font-weight:700;align-self:flex-start}
.ccpa-snackbar__dismiss{flex-grow:0;font-weight:700;color:white;cursor:pointer;font-size:13px;background:black;border-radius:3px;padding:7px
30px;align-self:flex-start}
.ccpa-snackbar__terms{height:180px;flex-grow:1;background-color:#eee;color:#333;overflow-y:scroll;overflow-x:hidden;padding:14px
20px;margin:0 14px 14px}
.ccpa-snackbar__terms p{margin-bottom:10px}
.ccpa-snackbar__terms
a{color:#2860d8}
.ccpa-snackbar__terms
a:hover{text-decoration:underline}
.ccpa-bottom{display:flex;align-items:center;justify-content:flex-start;width:100%;margin-top:5px;margin-bottom:15px;margin-left:26px}
.ccpa-privacy-link{margin-left:25px;color:#2860d8}
.ccpa-privacy-link:hover{text-decoration:underline}
.ccpa-snackbar__dismiss-icon{display:block;cursor:pointer;position:absolute;right:0;top:6px;height:44px;width:44px}
.ccpa-snackbar__dismiss-icon::after,.ccpa-snackbar__dismiss-icon::before{content:'';width:17px;height:2px;border-radius:1px;background:#111;position:absolute;left:13.5px;top:22px;transform-origin:50%
50%;transform:rotate(45deg)
.ccpa-snackbar__dismiss-icon::before{transform:rotate(-45deg)}
.dark
.ccpa-snackbar{background:#121212}
.dark .ccpa-snackbar .ccpa-snackbar__msg{color:#dfdfdf}
.dark .ccpa-snackbar
.ccpa-snackbar__header{color:#fff}.dark .ccpa-snackbar
.ccpa-snackbar__terms{background-color:#363636;color:#dfdfdf}
.dark
.ccpa-snackbar.error{background-color:#333;color:#fff}
.dark .ccpa-snackbar__dismiss{background:#fff;color:#000}
.dark
.ccpa-snackbar__dismiss-icon::after,.dark .ccpa-snackbar__dismiss-icon::before{background:#fff}
.dark
.ccpa-privacy-link{color:#dfdfdf}@media (max-width:
800px){.ccpa-snackbar{bottom:20px}
.ccpa-snackbar__msg,.ccpa-snackbar__terms{font-size:14px}
}
@media (max-width:
576px){.ccpa-snackbar{padding:20px;max-width:90%}
.ccpa-snackbar__msg,.ccpa-snackbar__header{padding:10px
0}.ccpa-snackbar__header{margin-right:50px;margin-left:15px}
.ccpa-snackbar__msg{margin-bottom:10px;margin-right:25px;margin-left:15px;padding-top:5px}.ccpa-snackbar__terms{margin:0
0 15px
0;padding:15px}.ccpa-snackbar__dismiss{display:none}.ccpa-snackbar__dismiss-icon{top:17px}.ccpa-bottom{margin-left:0}.ccpa-privacy-link{margin-left:15px}}@keyframes
slideDown{0%{transform:translateY(0%)}90%{transform:translateY(0%)}100%{transform:translateY(100%)}}@keyframes
flyIn{0%{opacity:0}100%{opacity:1}}@keyframes flyOut{0%{opacity:1}100%{opacity:0}}@keyframes
fadeIn{0%{opacity:0}15%{opacity:0}100%{opacity:1}}
.flexContainer{display:flex;flex-direction:column;align-items:center;justify-content:center;flex-wrap:nowrap;width:100%}
.expandToRow{composes:flexContainer}
@media
(min-width:
444px){.expandToRow{display:flex;flex-direction:row;align-items:center;justify-content:space-around;flex-wrap:nowrap}
}
@media
(max-width:
991.98px){.mobileColumn{display:flex;flex-direction:column;align-items:center;justify-content:center;flex-wrap:nowrap}
}
.visually-hidden{clip:rect(0
0 0
0);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;overflow:hidden;position:absolute;white-space:nowrap;width:1px}
.pz-offline-ticker{background-color:#959595;color:white;font-size:0.875em;height:0;opacity:0;overflow:hidden;padding:0;text-align:center;transition:all
0.5s ease-in-out}
.pz-offline-ticker.is-offline{height:auto;opacity:1;padding:12px 0}
.pz-offline-ticker
.offline-ticker-dismiss{position:absolute;right:8px;top:8px;cursor:pointer}
@font-face{font-family:'nyt-karnakcondensed';src:url("./fonts/karnakcondensed/karnakcondensed-normal-700.woff2")
format("woff2"),url("./fonts/karnakcondensed/karnakcondensed-normal-700.woff")
format("woff");font-weight:700;font-style:normal}
@font-face{font-family:'nyt-franklin-400';src:url("./fonts/franklin/franklin-normal-400.woff2")
format("woff2"),url("./fonts/franklin/franklin-normal-400.woff")
format("woff");font-weight:400;font-style:normal}
@font-face{font-family:'nyt-franklin-500';src:url("./fonts/franklin/franklin-normal-500.woff2")
format("woff2"),url("./fonts/franklin/franklin-normal-500.woff")
format("woff");font-weight:500;font-style:normal}@font-face{font-family:'nyt-franklin-600';src:url("./fonts/franklin/franklin-normal-600.woff2")
format("woff2"),url("./fonts/franklin/franklin-normal-600.woff")
format("woff");font-weight:600;font-style:normal}@font-face{font-family:'nyt-franklin';src:url("./fonts/franklin/franklin-normal-700.woff2")
format("woff2"),url("./fonts/franklin/franklin-normal-700.woff")
format("woff");font-weight:700;font-style:normal}
:root{--green: #6aaa64;--darkendGreen: #538d4e;--yellow:
#c9b458;--darkendYellow: #b59f3b;--lightGray: #d3d6da;--gray: #86888a;--gray-2: #dcdcdc;--gray-3: #dfdfdf;--darkGray:
#939598;--white: #fff;--black: #212121;--black-2: #121212;--black-3: #363636;--orange: #f5793a;--blue:
#85c0f9;font-family:'Clear Sans', 'Helvetica Neue', Arial, sans-serif;font-size:16px;--header-height:
50px;--keyboard-height: 200px;--game-max-width: 500px;--error-z-index: 500;--toast-z-index: 1000;--modal-z-index:
2000;--page-z-index: 3000;--system-toast-z-index: 4000;--spelling-bee:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/SpellingBee-Icon-Normalized.svg');--daily:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Crossword-Icon-Normalized.svg');--mini:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Mini-Icon-Normalized.svg');--tiles:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Tiles-Icon-Normalized.svg');--sudoku:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Sudoku-Icon-Normalized.svg');--vertex:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Vertex-Icon-Normalized.svg');--letter-boxed:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/LetterBoxed-Icon-Normalized.svg');--nyt:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/NYT-Icon-Normalized.svg');--wirecutter:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Wirecutter-Icon-Normalized.svg');--cooking:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Cooking-Icon-Normalized.svg');--athletic:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Athletic-Icon-Normalized.svg');--stats-auth:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/stats-auth-cta.svg');--wordlebot:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/WordleBot-Icon-Normalized.svg');--chess:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Chess-Icon-Normalized.svg');--wordle-icon:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/wordle-icon.svg');--gameslogo:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/gameslogo.svg');--stats-problem:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/transparent-wordle-issue.svg');--link-info:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/transparent-wordle-link.svg');--badge-confirm:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-badge-confirm.svg');--badge-fail:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-badge-fail.svg');--large-stats:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-large-stats.svg');--wordle-sb-mini:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-sb.svg');--wordle-share-mini:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-share.svg');--wordle-stats-confirm-mini:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-stats-confirm.svg');--wordle-stats-loaded-mini:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-stats-loaded.svg');--wordle-stats-mini:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-stats.svg');--nyt-logo:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/nyt-logo.svg');--promo-icon-height:
40px;--promo-icon-width: 40px;--promo-icon-padding: 0px;--svg-arrow-fill: white;--svg-arrow-stroke:
black;--svg-arrow-fill-hover: black;--svg-arrow-stroke-hover: white;--spelling-bee-promo:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/SpellingBee-Icon-Normalized.svg')
:root{--color-tone-1:
#000000;--color-tone-2: #787c7e;--color-tone-3: #878a8c;--color-tone-4: #d3d6da;--color-tone-5: #edeff1;--color-tone-6:
#f6f7f8;--color-tone-7: #ffffff;--color-tone-8: #121212;--color-tone-9: #dfdfdf;--color-tone-10:
#000000;--color-tone-11: #787c7e;--color-tone-12: #363636;--color-nav-hover: #f4f4f4;--opacity-50: rgba(255, 255, 255,
0.5);--error-background: #e3e3e1;--icon-disabled: #a6a6a6}
.dark{--color-tone-1: #ffffff;--color-tone-2:
#818384;--color-tone-3: #565758;--color-tone-4: #3a3a3c;--color-tone-5: #272729;--color-tone-6: #1a1a1b;--color-tone-7:
#121213;--color-tone-8: #ffffff;--color-tone-9: #424242;--color-tone-10: #dfdfdf;--color-tone-11:
#dfdfdf;--color-tone-12: #dfdfdf;--color-nav-hover: #2f2f31;--opacity-50: rgba(0, 0, 0, 0.5);--error-background:
var(--color-tone-7);--icon-disabled: #59595a;--spelling-bee:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/SpellingBee-Icon-Normalized-Color.svg');--daily:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Crossword-Icon-Normalized-Color.svg');--mini:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Mini-Icon-Normalized-Color.svg');--tiles:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Tiles-Icon-Normalized-Color.svg');--sudoku:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Sudoku-Icon-Normalized-Color.svg');--vertex:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Vertex-Icon-Normalized-Color.svg');--letter-boxed:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/LetterBoxed-Icon-Normalized-Color.svg');--nyt:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/NYT-Icon-Normalized-Color.svg');--athletic:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Athletic-Icon-Normalized-Color.svg');--stats-auth:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/stats-auth-cta.svg');--wordlebot:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/WordleBot-Icon-Normalized-Color.svg');--chess:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Chess-Icon-Normalized-Color.svg');--stats-problem:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/transparent-wordle-issue.svg');--link-info:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/dark-mode-wordle-link.svg');--gameslogo:
url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/whitegameslogo.svg');--promo-icon-height:
27px;--promo-icon-width: 27px;--promo-icon-bg-size: 35px;--promo-icon-padding: 4px;--promo-icon-height:
40px;--promo-icon-width: 40px;--promo-icon-padding: 0px;--svg-arrow-fill: var(--color-tone-7);--svg-arrow-stroke:
white;--svg-arrow-fill-hover: white;--svg-arrow-stroke-hover: black
:root,.dark{--color-background:
var(--color-tone-7)}
:root{--color-present: var(--yellow);--color-correct: var(--green);--color-absent:
var(--color-tone-2);--tile-text-color: var(--color-tone-7);--key-text-color:
var(--color-tone-1);--key-evaluated-text-color: var(--color-tone-7);--key-bg: var(--color-tone-4);--key-bg-present:
var(--color-present);--key-bg-correct: var(--color-correct);--key-bg-absent: var(--color-absent);--modal-content-bg:
var(--color-tone-7)}
.dark{--color-present: var(--darkendYellow);--color-correct: var(--darkendGreen);--color-absent:
var(--color-tone-4);--tile-text-color: var(--color-tone-1);--key-text-color:
var(--color-tone-1);--key-evaluated-text-color: var(--color-tone-1);--key-bg: var(--color-tone-2);--key-bg-present:
var(--color-present);--key-bg-correct: var(--color-correct);--key-bg-absent: var(--color-absent);--modal-content-bg:
var(--color-tone-7)}
.colorblind{--color-correct: var(--orange);--color-present: var(--blue);--tile-text-color:
var(--white);--key-bg-present: var(--color-present);--key-bg-correct: var(--color-correct);--key-bg-absent:
var(--color-absent)}
html{height:100%}body{height:100%;background-color:var(--color-background);margin:0;padding:0;overflow-y:hidden}